<h3>Kommentieren</h3>
<form action="/fake" method="post" id="commentform" class="form-horizontal">
  <fieldset id="commentfields">
    <input name="redirect" type="hidden" value="{{ site.url }}/thanks">
    <input name="post_id" type="hidden" value="{{ slug }}">
    <input name="comment-site" type="hidden" value="{{ site.url }}">
    <textarea name="message" id="message" placeholder="Diskussion anzetteln..." cols="50" rows="8"></textarea><br />

    <label for="name">Name/alias <span>(Erforderlich, wird angezeigt)</span></label>
    <input type="text" name="name" id="name" placeholder="Name" /><br />

    <label for="email">Email <span>(Erforderlich, wird nicht angezeigt)</span></label>
    <input type="text" name="email" id="email" placeholder="myemail@somedomain.com" /><br />
 
    <label for="url">Webseite <span>(Optional, wird angezeigt)</span></label>
    <input type="text" name="url" id="url" placeholder="https://mywebsite.com" /><br />
    <br />

    <button onclick="setupForm()" type="button" class="btn btn-primary" id="commentbutton">Kommentar abschicken</button>
  </fieldset>
</form>
<script>
    function setupForm() {
      var status = document.getElementById('commentstatus')
      status.innerText = ''

      var requiredIds = [ 'message', 'email', 'name']
      var missing = requiredIds.filter(id => document.getElementById(id).value.length < 3)
      if (missing.length > 0) {
        status.innerText = 'Bitte hinterlasse noch folgende Informationen: ' + missing.join(', ') 
        return
      }

      var button = document.getElementById('commentbutton')
      if (button.innerText != 'Kommentar bestätigen') {
        button.innerText = 'Kommentar bestätigen'
        return
      }

      var form = document.getElementById('commentform')
      form.action = '{{ site.comments.receiver }}'
      button.innerText = 'Schicke ab...'
      button.disabled = true
      form.submit()
      var fields = document.getElementById('commentfields')                                         
      fields.disabled = true
    }
  </script>
<div id="commentstatus" style="clear:both" class="status"></div>
